.clock {
  background-color: #{$backgroundColor};
  color: #{$borderColor};
  display: inline-block;
  font-size: 55pt;
  position: relative;
  top: -1px;
  width: 100%;
  z-index: 2;

  &::before,
  &::after {
    content: " ";
    display: block;
    height: 5px;
    position: fixed;
    width: 100%;
  }

  &::before {
    background: linear-gradient(transparent, #{$backgroundColor});
    border-bottom: 1px solid #{$borderColor};
    margin-top: -5px;
  }

  &::after {
    background: linear-gradient(#{$backgroundColor}, transparent);
    border-top: 1px solid #{$borderColor};
    margin-top: -1px;
  }

  span {
    color: #{$tweetBackgroundColor};
    font-weight: bold;
    margin: 0 -.3em;
    position: relative;
    vertical-align: middle;
  }

  .date {
    display: block;
    font-size: 12pt;
    margin-bottom: 5px;
    margin-top: -14px;
  }

}
