body {
    background-color: #202020;
}

nav {
    background-color: #101015;
    border-bottom: 1px solid #505055;
    height: 35px;
}

nav .pure-menu-heading {
    color: #A0A0B0;
    font-weight: bold;
}

.info {
    text-align: right;
}

.info > li > a,
.settings-button span,
.settings-button span::before,
.settings-button span::after,
.settings-box {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.info .pure-menu-link,
.info .pure-menu-separator {
    opacity: .3;
    color: white;
}

.info .pure-menu-link:hover {
    background-color: inherit;
    opacity: .5;
}

.info .pure-menu-link:focus {
    background-color: inherit;
}

.git-version {
    background-image: url("/static/image/GitHub-Mark-Light-32px.png");
    background-repeat: no-repeat;
    background-size: 20px auto;
    background-position: 0px 50%;
    padding-left: 24px;
}

.settings-button {
    text-align: left;
    margin-left: auto;
    width: 15px;
    margin-bottom: -3px;
    cursor: pointer;
}

.settings-button::after {
    content: "" !important;
}

.settings-button span {
    display: block;
    position: relative;
    top: 7px;
}

.settings-button span::before,
.settings-button span::after {
    content: " ";
    position: absolute;
    top: -8px;
}

.settings-button span::after {
    top: 8px;
}

.settings-button span,
.settings-button span::before,
.settings-button span::after {
    background-color: white;
    width: 20px;
    height: 3px;
}

.settings-button.active span{
    background-color: transparent;
}

.settings-button.active span::before{
    -webkit-transform: rotate(45deg) translate(6px, 5.5px) scale(1.2, 1);
    -moz-transform: rotate(45deg) translate(6px, 5.5px) scale(1.2, 1);
    -ms-transform: rotate(45deg) translate(6px, 5.5px) scale(1.2, 1);
    -o-transform: rotate(45deg) translate(6px, 5.5px) scale(1.2, 1);
    transform: rotate(45deg) translate(6px, 5.5px) scale(1.2, 1);
}

.settings-button.active span::after{
    -webkit-transform: rotate(-45deg) translate(6px, -5.5px) scale(1.2, 1);
    -moz-transform: rotate(-45deg) translate(6px, -5.5px) scale(1.2, 1);
    -ms-transform: rotate(-45deg) translate(6px, -5.5px) scale(1.2, 1);
    -o-transform: rotate(-45deg) translate(6px, -5.5px) scale(1.2, 1);
    transform: rotate(-45deg) translate(6px, -5.5px) scale(1.2, 1);
}

.settings-box.active {
    right: 0px;
}

.settings-box {
    display: block;
    width: 300px !important;
    position: fixed !important;
    left: auto !important;
    right: -301px;
    background-color: #101015;
    color: #A0A0B0;
    border: 1px solid #505055;
    border-top: none;
    border-right: none;
    text-align: left;
}

.settings-box > span,
.settings-box div > span {
    display: block;
}

.content {
    position: absolute;
    top: 40px;
    bottom: 0px;
    width: 100%;
}

.clockcontainer {
    position: fixed;
    top: 40px;
    bottom: 0px;
    text-align: center;
}

.clock:before, .clock:after{
    content: "";
    display: inline-block;
    vertical-align: middle;  /* Align inline level elements vertically */
    height: 100%;
}

.clock {
    font-size: 55pt;
    color: #505055;
}

.clock span {
    vertical-align: middle;
    margin: 0 -.3em;
    font-weight: bold;
    color: #A0A0B0;
}

.tweet {
    background-color: #A0A0B0;
    min-height: 50px;
    margin: 7px;
    padding: 7px;
    border-radius: 7px;
}

.tweet .user {
    position: absolute;
}

.tweet .user img {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 7px;
}

.tweet .user a {
    color: #505050;
    text-decoration: none;
    font-size: 9pt;
}

.tweet .user .name {
    margin-left: 10px;
    font-weight: bold;
    color: black;
    font-size: 13pt;
}

.tweet .user a:hover .name {
    text-decoration: underline;
}

.tweet .user .screenname {
    margin-left: -5px;
}

.tweet .message {
    margin-top: 25px;
    margin-bottom: 0px;
    margin-left: 60px;
}

.tweet .photo {
    padding-left: 60px;
    max-width: calc(100% - 60px);
    max-height: 550px;
    object-fit: scale-down;
    margin-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
