body {
    background-color: #202020;
}

nav {
    background-color: #101015;
    height: 35px;
}

nav .pure-menu-heading {
    color: #A0A0B0;
    font-weight: bold;
}

.info {
    text-align: right;
}

.git-version {
    background-image: url("/static/image/GitHub-Mark-Light-32px.png");
    background-repeat: no-repeat;
    background-size: 20px auto;
    background-position: 0px 50%;
    color: white;
    padding-left: 24px;
    opacity: .3;
}

.git-version:hover {
    background-color: inherit;
    opacity: .5;
}

.travis-version {
    color: white;
    opacity: .3;
}

.travis-version:hover {
    background-color: inherit;
    opacity: .5;
}

.content {
    position: absolute;
    top: 40px;
    bottom: 0px;
    width: 100%;
}

.clockcontainer {
    position: fixed;
    top: 40px;
    bottom: 0px;
    text-align: center;
}

.clock:before, .clock:after{
    content: "";
    display: inline-block;
    vertical-align: middle;  /* Align inline level elements vertically */
    height: 100%;
}

.clock {
    font-size: 55pt;
    color: #505055;
}

.clock span {
    vertical-align: middle;
    margin: 0 -.3em;
    font-weight: bold;
    color: #A0A0B0;
}

.tweet {
    background-color: #A0A0C0;
    min-height: 50px;
    margin: 7px;
    padding: 7px;
    border-radius: 7px;
}

.tweet .user {
    position: absolute;
}

.tweet .user img {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 7px;
}

.tweet .user a {
    color: #505050;
    text-decoration: none;
    font-size: 9pt;
}

.tweet .user .name {
    margin-left: 10px;
    font-weight: bold;
    color: black;
    font-size: 13pt;
}

.tweet .user a:hover .name {
    text-decoration: underline;
}

.tweet .user .screenname {
    margin-left: -5px;
}

.tweet .message {
    margin-top: 25px;
    margin-bottom: 0px;
    margin-left: 60px;
}

.tweet .photo {
    padding-left: 60px;
    max-width: calc(100% - 60px);
    max-height: 550px;
    object-fit: scale-down;
    margin-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
