@import "core";

$grids: (12);
$sizes: lg 1024px,;

@import "grid";
@import "buttons";

@import "colors";

@import "nav";
@import "settings";
@import "clock";
@import "clockcontainer";
@import "tweet";

body {
  background-color: #{$backgroundColor};
}

.content {
  font-family: sans-serif;
  > div {
    top: #{$navHeight};
    position: relative;
    &.fixedContainer {
      position: fixed;
      bottom: 0px;
      width: 100%;
      pointer-events: none;
    }
  }
}
