{{define "additionalHeaders"}}
<script src="/static/js/sse.js"></script>
{{end}}

{{define "content"}}
<div class="tweet-template hidden" hidden>
  {{template "tweet.html"}}
</div>

<div class="pure-u-1 pure-u-md-1-2 tweets">
</div>

<div class="pure-u-1 pure-u-md-1-2 clockcontainer">
  <span class="clock">
    <span class="hour">00</span>
    :
    <span class="minute">00</span>
    :
    <span class="second">00</span>
  </span>
  <script src="/static/js/clock.js"></script>
</div>
{{end}}

{{template "layout.html" .}}
