{{define "additionalHeaders"}}
<script src="/static/js/sse.js"></script>
{{end}}

{{define "content"}}
<div class="tweet-template hidden" hidden>
  {{template "tweet.html"}}
</div>

<div class="grid-12">

  <div class="col-12 col-lg-6 tweetContainer1 tweets">
  </div>

</div>
<div class="grid-12 fixedContainer">

  <div class="col-6">
  </div>

  <div class="col-0 col-lg-6 clockcontainer">
    <div class="timetable">
      <table>
        {{ $rows := . }}
        {{ range $row := $rows }}
        <tr data-start="{{$row.Start|html}}" data-end="{{$row.End|html}}">
          <td class="name">{{$row.Name}}</td>
          {{ range $entry := $row.Entries }}
          <td>{{$entry}}</td>
          {{ end }}
        </tr>
        {{ end }}
      </table>
    </div>
    <span class="clock">
      <span class="hour">00</span>
      :
      <span class="minute">00</span>
      :
      <span class="second">00</span>
      <span class="date"></span>
    </span>
    <script src="/static/js/clock.js"></script>
    <div class="tweets tweetContainer2"></div>
  </div>
</div>
{{end}}

{{template "layout.html" .}}
