<!DOCTYPE html>
<html>
  <head>
    <title>KoMa Wall</title>
    <link rel="stylesheet" href="/static/css/pure/base-min.css">
    <link rel="stylesheet" href="/static/css/pure/grids-min.css">
    <link rel="stylesheet" href="/static/css/pure/grids-responsive-min.css">
    <link rel="stylesheet" href="/static/css/pure/menus-min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    {{template "additionalHeaders"}}
  </head>
  <body>
    <nav class="pure-menu pure-menu-horizontal pure-menu-fixed pure-g">
      <div class="pure-u-1 pure-u-md-1-2">
        <a href="#" class="pure-menu-heading">
          KoMa Twitter Wall
        </a>
      </div>

      <ul class="pure-menu-list pure-u-md-1-2 info">

        <li class="pure-menu-item">
          {{ if .Version.GitHash }}
          <a class="pure-menu-link git-version" target="_blank" href="https://github.com/kerwindena/koma-bot/tree/{{ .Version.GitHash }}">
            {{ if .Version.GitBranch }}
            {{ .Version.GitBranch }}
            {{ else }}
            {{ .Version.GitHash }}
            {{ end }}
          </a>
          {{ end }}
        </li>

        <li class="pure-menu-item">
          {{ if .Version.TravisId }}
          <a class="pure-menu-link travis-version" target="_blank" href="https://travis-ci.org/kerwindena/koma-bot/builds/{{ .Version.TravisId }}">
            Travis
            {{ if .Version.TravisNumber }}
            #{{ .Version.TravisNumber }}
            {{ else }}
            {{ .Version.TravisId }}
            {{ end }}
          </a>
          {{ end }}
        </li>

      </ul>

    </nav>
    <div class="content pure-g">
      {{template "content"}}
    </div>
  </body>
</html>
