<!DOCTYPE html>
<html>
  <head>
    <title>KoMa Wall</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/settings.js"></script>
    {{template "additionalHeaders"}}
  </head>
  <body>
    <nav class="grid-12">
      <div class="col-6">
        <a class="heading" href="javascript:updateViewport(); document.activeElement.blur();">
          KoMa Twitter Wall
        </a>
      </div>

      <ul class="col-6">

        {{ if .Version.GitHash }}
        <li>
          <a class="git-version" target="_blank" href="https://github.com/thelegy/koma-bot/tree/{{ .Version.GitHash }}">
            {{ if .Version.GitBranch }}
            {{ .Version.GitBranch }}
            {{ else }}
            {{ .Version.GitHash }}
            {{ end }}
          </a>
        </li>
        {{ end }}

        <li>
          <a onclick="toggle_settings()" class="settings-button">
            <span></span>
          </a>
          <div class="settings-box">
            <span class="heading">Settings</span>
            <div class="volume">
              <span>Volume</span>
              <span class="volume-control">
                <span class="volume-min">
                  <span class="volume-icon"></span>
                </span>
                <input type="range" min="0" max="100" oninput="update_volume()" />
                <span class="volume-max">
                  <span class="volume-icon"></span>
                </span>
              </span>
              <script>load_volume();</script>
            </div>
          </div>
        </li>

      </ul>

    </nav>
    <div class="content">
      {{template "content" .TimetableInfo}}
    </div>
    <div class="foot-anchor"></div>
  </body>
</html>
