<div class="tweet">
  <div class="user">
    <a>
      <img alt="" />
      <span class="name"></span>
      @
      <span class="screenname"></span>
    </a>
  </div>
  <span class="time"></span>
  <p class="message"></p>
  <img class="photo" alt="" onload="photo_onload(this)"/>
</div>

<div class="time-format">
  <div class="second">
    <span class="singular">vor 1 Sekunde</span>
    <span class="before">vor </span>
    <span class="after"> Sekunden</span>
  </div>
  <div class="minute">
    <span class="singular">vor 1 Minute</span>
    <span class="before">vor </span>
    <span class="after"> Minuten</span>
  </div>
  <div class="hour">
    <span class="singular">vor 1 Stunde</span>
    <span class="before">vor </span>
    <span class="after"> Stunden</span>
  </div>
  <div class="day">
    <span class="singular">vor 1 Tag</span>
    <span class="before">vor </span>
    <span class="after"> Tagen</span>
  </div>
</div>
